version 5.172.1

group Test
    source https://www.nuget.org/api/v2
    framework netcoreapp2.0
    storage: none
    nuget NUnit 3.10.1
    nuget Microsoft.NET.Test.Sdk
    nuget NUnit3TestAdapter